trainer:
  epochs: 50
data:
  groundtruth:
    _target_: disent.data.groundtruth.DSpritesData
    folder: /tmp/data/dsprites
_target_: disent.frameworks.vae.unsupervised.Vae
